/*
ABOUT
This site skin uses code based off ElectricAlice's Minimal Ao3 skin, Dyslexia freindly site skin, Tide Ao3 skin and site skin for a border around tags. 
It also uses vanetta's tag scrolling code. This code has been modified to my own specfications.
Note that these code comments will vanish when you click 'submit' to make the site skin, so make sure you can refrence this webpage if needed.
*/

/*
IMPORTANT
This skin is a work in progress, the code is messy and I am working on streamlining it. However, this is a useable working skin!
*/

/*
TO USE
(this will be on my Ao3 post but just incase.)
1. Copy all of this into the Ao3 CSS box for your new skin. Call it something like 'Stardust main' for convenience sake. 

2. If you ONlY use Ao3 on desktop then click 'use'. 

3. If you mainly use Ao3 on Ipad/tablet or mobile then DO NOT click use but still submit this skin.

4. You need to make the Ipad fix and mobile fix skins and then do some fiddling with parent skins and media settings in the advanced skin making settings. 
Don't worry I will explain this in the other skin codes.
*/

/*
STARDUST LIGHT
*/

/*
----
Font settings. 
----
*/

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: 'Trebuchet MS' , Calibri, 'Open Sans', sans-serif;
  border-bottom: none;
  font-weight: 700;
}

body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
blockquote,
.filters dt,
.filters dd,
.filters input[type=submit],
.bookmark .user .meta,
.datetime,
a.work,
span.symbol,
.splash .news .meta,
select {
  font-family: 'Trebuchet MS', Calibri, 'Open Sans', sans-serif;
}

code,
pre {
  font-family: 'Trebuchet MS', Calibri, 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 1em 0.5em;
}
/*
font sizing 
*/
#footer li,
.comment .userstuff,
.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
textarea,
p.type,
.meta dd,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
#header h1,
#header,
#outer.wrapper,
#inner.wrapper,
#modal,
.filters .expander,
.qtip-content,
h5,
h6,
h4.viewed,
p.note,
blockquote,
body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
#main,
select {
  font-size: 1em;
}
/*makes sup ect small again*/
small,
sub,
sup {
  font-size: 87.5%;
  
}
.home .header h2,
.preface h3,
.faq .categories h3,
.userstuff h3,
#footer a {
  border-bottom: none;
}
/*
according to EletricAlice this is needed so fonts dont do weird things.
*/
html,
body,
div,
span,
applet,
object,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander {
  font-size: 100%;
}
/*
line height settings.
*/
#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.comment .userstuff,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
#inner.wrapper,
#modal,
h3,
.filters dt,
.filters dd,
.filters input[type=submit],
.filters .expander,
.userstuff li,
.userstuff ul,
.userstuff p,
.userstuff h2,
.userstuff h1,
.userstuff h3,
.userstuff h4,
p.note,
blockquote,
body,
input,
.toggled form,
.dynamic form,
.secondary,
.dropdown,
button,
#main,
select {
  line-height: 1.8em;
}
/*
hedding size. 
*/

h4.heading {
  font-size: 1.3em;
  font-weight: 700;
}

h4 {
  font-size: 1.3125em;
}
/*
Stops icon text overlap in comments.
*/
.comment h4.byline {
  padding: .25em .25em .25em 120px;
}
/*
the size of the date and time text for fic updates.
*/
h4.heading .datetime {
  padding: 5px;
  font-size: 0.5376em;
}

.preface a:hover {
  text-decoration: none;
}
/*
header font size.
*/
#header {
  font-size: 1.05em;
}
.news h4.heading {
  margin: 0;
}
/* 
word spacing settings.
*/
.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
p.type,
.meta dd,
#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.userstuff p,
.comment .userstuff,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff,
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  word-spacing: 0.21em;
}
/*
letter spacing settings.
*/
.blurb dl.stats,
.actions li a,
.actions li input,
.actions li input[type=submit],
input[type=submit],
.actions li .current,
.actions li label,
#header .primary .menu a,
#header .primary .menu .current,
form.search input[type=text],
dd.autocomplete li.input,
input[type=radio],
select,
input[type=checkbox],
input[type=file],
input.number,
p input,
p select,
.heading select,
li select,
input:focus,
select:focus,
textarea:focus,
input,
textarea,
p.type,
.meta dd,
body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  letter-spacing: 0.02em;
}
/*
makes the text align left.
*/
#chapters,
#chapters p,
textarea,
#footer li,
.preface.group blockquote.userstuff,
.preface.group blockquote.userstuff p,
.userstuff p,
.comment .userstuff,
div#comments_placeholder,
.blurb dl.stats,
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
  text-align: left;
}
/*
tries to force left text align in custom work skins
*/
#workskin {
  text-align: left !important;
}
/*
Paragraph width. 
*/
#workskin,
.blurb .userstuff,
.news .userstuff,
.system .userstuff,
.collection blockquote.userstuff {
  width: 70%;
  max-width: 45em;
}
/*
Makes comments in inbox and on fics have text that doesn't wrap under images.
*/
ol.comment.index.group blockquote.userstuff p {
  width: 70%;
  max-width: 45em;
  margin-left: 7em;
}

ol.thread blockquote.userstuff p {
  width: 70%;
  max-width: 45em;
  margin-left: 7em;
}

.blurb .userstuff {
  padding: 20px 0;
}
/*
Makes the fic body, summary and notes bigger on desktop.
*/
.userstuff p {
  margin: 2em auto;
  font-size: 1.2em;
}
/*wider bottom margin on news posts*/
li.post.group {
padding-bottom:1em;
}
/*
----
Skin flattening 
----

makes the skin flat.
*/

#header .menu,
#header .dropdown:hover .current + .menu,
.event .userstuff,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.dynamic form,
.ui-draggable form,
#header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
.delete a,
span.delete,
#header ul.primary,
.ui-sortable li,
input,
.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  box-shadow: none;
}

#footer,
.autocomplete .dropdown ul li:hover,
li.selected,
.autocomplete a:hover,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
input,
.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  background-image: none;
}

.actions input,
input[type=submit],
textarea,
.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  -webkit-appearance: none;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.toggled form,
.dynamic form,
.ui-draggable form {
  border: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
}

input {
  width: 96%;
  border: 1px solid;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  border-color: initial;
  box-shadow: none !important;
}

form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type=submit],
button,
.current,
.actions label {
  border-bottom: none;
}

.listbox .index,
.dashboard .listbox .index,
.splash .news li,
form dt,
.picture .header {
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header .menu,
#header .dropdown:hover .current + .menu,
.event .userstuff {
  filter: none;
}

.autocomplete input,
.autocomplete .dropdown ul li {
  min-width: 10px;
}
.chapter .preface {
  border-top: none;
}

.comment fieldset {
  border: 0px;
}

.btn:hover,
input[type="submit"]:hover,
.actions li input[type="submit"]:hover,
.actions .current:hover {
  color: #393E46;
  background: #fff;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: .25em;
  box-shadow: none;
}
/*
----
Check box settings.
----
*/

.filters [type=radio] + .indicator:before,
.filters [type=radio]:checked + .indicator:before,
.filters [type=checkbox] + .indicator:before,
.filters .exclude [type=checkbox] + .indicator:before,
.filters [type=checkbox]:checked + .indicator:before,
.filters .exclude [type=checkbox]:checked + .indicator:before,
input[type=checkbox],
input[type=radio],
input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  width: 0.8em;
  height: 0.8em;
}

input[type=radio] {
  border-radius: 50%;
}

.filters [type=radio] + .indicator:before {
  content: "";
  vertical-align: -0.125em;
  background: none;
  background-color: #ebebeb;
  border: none;
}

.filters [type=radio]:checked + .indicator:before {
  content: "";
  vertical-align: -0.125em;
  background: none;
  background-color: #ea6b6f;
  border: 1px solid #ea6b6f;
}

.filters [type=checkbox] + .indicator:before,
.filters .exclude [type=checkbox] + .indicator:before {
  content: "";
  padding: 0px;
  border-radius: 0px;
  vertical-align: -0.125em;
  background: none;
  background-color: #ebebeb;
  border: 1px solid #393e46;
}

.filters [type=checkbox]:checked + .indicator:before,
.filters .exclude [type=checkbox]:checked + .indicator:before {
  content: "";
  padding: 0px;
  border-radius: 0px;
  vertical-align: -0.125em;
  background: none;
  background-color: #ea6b6f;
  border: 1px solid #ea6b6f;
}

.filters .exclude [type=checkbox]:checked + .indicator:before {
  background-color: #ea6b6f;
}

input[type=checkbox],
input[type=radio],
.actions input[type=checkbox],
label.action input[type=checkbox] {
  background-color: #ebebeb;
  border: 1px solid #e8e8e8;
}

input[type=checkbox],
input[type=radio],
input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox]:checked,
input[type=radio]:checked,
.actions input[type=checkbox]:checked,
label.action input[type=checkbox]:checked,
input[type=checkbox]:hover,
.actions input[type=checkbox]:hover {
  background-color: #ea6b6f;
  border: none;
}

fieldset.work.meta .fandom.required ul.autocomplete {
  background: transparent;
}
/*
----
tag settings.
----
*/
/*
gives tags padding and size.
*/
a.tag,
a.tag:visited,
a.tag:link {
  display: inline-block;
  padding: 3px 6px;
  margin: 4px 0px;
  border-radius: 5px;
}
h5.fandoms.heading {
  /*this removes the commas in the fandom tags*/
  color: transparent;
}
/*
favorite tags all have grey background 
*/
.favorite a.tag,
.splash .favorite li:nth-of-type(2n+1) a{ 
  border: none;
  background-color: #eee;
}
/*
makes favorite tags all black background on hover
*/
.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite a:hover,
.favorite li:nth-of-type(2n+1) a:hover {
 color: #f7f7f7;
background-color: #464e59;
}
/*
stars on tags. can be swapped for another html symbol.
*/
.relationships a::before {
  content: "☆";
  padding: 0 .25em 0 0;
}
/*
colourful tags.
*/

.tags li.relationships:nth-of-type(3n+1) a.tag {
  background-color: #ff8e43;
}

.tags li.relationships:nth-of-type(3n+2) a.tag {
  background-color: #ffa366;
}

.tags li.relationships:nth-of-type(3n+3) a.tag {
  background-color: #ffb98a;
}

.characters a::before {
  content: "☆";
  padding: 0 .25em 0 0;
}

.tags li.characters:nth-of-type(3n+1) a.tag {
  background-color: #f8b920;
}

.tags li.characters:nth-of-type(3n+2) a.tag {
  background-color: #f9c443;
}

.tags li.characters:nth-of-type(3n+3) a.tag {
  background-color: #facf66;
}

.freeforms a::before {
  content: "☆";
  padding: 0 .25em 0 0;
}

.tags li.freeforms:nth-of-type(3n+1) a.tag {
  background-color: #d0cfcc;
}

.tags li.freeforms:nth-of-type(3n+2) a.tag {
  background-color: #dcdcda;
}

.tags li.freeforms:nth-of-type(3n+3) a.tag {
  background-color: #e9e8e7;
}
/*
tags are black with white text on hover.
*/
.tags li.freeforms a.tag:hover,
.tags li.characters a.tag:hover,
.tags li.relationships a.tag:hover {
  background-color: #393E46;
  color: white;
}
/*
no commas after tags.
*/
.commas li:after {
  content: "";
}
/*
scrolling tags for long tag feilds
*/
li.blurb .tags {
  max-height: 8.5em;
  overflow-y: auto;
}

li.blurb .fandoms {
  max-height: 3.75em;
  overflow-y: auto;
}

a.tag:hover,
.listbox .heading a.tag:visited:hover {
  background: #393E46;
  color: #fff;
}
/*
----
filter settings.
----
*/

.filters .expander {
  padding: 0 .25em 0 0;
  font-size: 1.05em;
  background: none;
  border-radius: .25em;
}

.filters .expanded .expander {
  background-color: #393E46;
  background-image: none;
  color: #f7f7f7;
}
/*
filter star settings.
*/
.filters .expander::before {
  content: "★";
  padding: 0 .25em 0 0;
}

.filters .expanded .expander::before {
  content: "☆";
  color: #f7f7f7;
  padding: 0 .25em 0 0;
}

.filters input:checked + .indicator + span {
  font-weight: inherit;
}
/*
stat symbols.
*/
dl.stats dt {
  display: none;
}

li.collection dl.stats dt,
li.series dl.stats dt,
dl.series dl.stats dt {
  display: inline-block !important;
}

dl.stats dd.kudos::before {
  background: url(https://64.media.tumblr.com/23a3c6f134a96386f50fb8982a353590/8b704f26c7323545-01/s100x200/31e25f0be03646918168c4d49bd2ee9733b2cd59.png);
}

dl.stats dd.words::before {
  background: url(https://64.media.tumblr.com/fff96d500a04ddf12517a48d83b228d2/b2e751421a20aa0c-a7/s100x200/c848a67de8f463ccdafa5b60948c61a172d5fe24.png);
}

dl.stats dd.chapters::before {
  background: url(https://64.media.tumblr.com/a8ca48310f24581ae539336583690b26/b2e751421a20aa0c-5c/s100x200/a51b914598b64c3ddf6f705b278f11a68301d443.png);
}

dl.stats dd.comments::before {
  background: url(https://64.media.tumblr.com/7172c0bbe03a0eef7b236014dc78c905/8b704f26c7323545-78/s250x400/f37ba1ff69b5ef2ad7e5fe66b61fd748badc00d1.png);
}

dl.stats dd.bookmarks::before {
  background: url(https://64.media.tumblr.com/9b95d189a57699762d2262536e922ece/b2e751421a20aa0c-2a/s100x200/1aabb2ad7b90746f0469aefaa39af5b83728f8b9.png);
}

dl.stats dd.hits::before {
  background: url(https://64.media.tumblr.com/b2b8862a356132ac1aa41e9e9f0ddd1d/b2e751421a20aa0c-9e/s100x200/dcd2bcb1adbbb8f9e1844b61aee3dd3a653531e3.png);
}

dl.stats dd.collections::before {
  background: url(https://64.media.tumblr.com/ae825c2ad8071426c298c5b52970e294/b2e751421a20aa0c-18/s100x200/d1eb5dd259e2db588cda2100057c2c8fd9efaaf0.png);
}

dl.work dl.stats dd.published::before {
  background: url(https://64.media.tumblr.com/7e13419071a7eeb35f48a76c7aa0ba36/b2e751421a20aa0c-5d/s250x400/7f351f60793ad683e4a9dc4de55e4ee4d625f9d2.png);
}

dl.work dl.stats dd.status::before {
  background: url(https://64.media.tumblr.com/0ef9349a36cf808783e9488a97b64678/b2e751421a20aa0c-10/s250x400/8df1d3da298f875381822968f8e71ed4d7bcae31.png);
}

ul.statistics dl.stats dd.subscriptions::before {
  background: url(https://64.media.tumblr.com/64db76a65209eff79515dfc23842eb54/fd0b10e0262ddb71-14/s250x400/921de73c3d5bb819f4e3c58c7c45bd4c6edfe55f.png);
}

ul.statistics dl.stats dd::before,
li.work dl.stats dd::before,
li.bookmark dl.stats dd::before,
dl.work dl.stats dd::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: " ";
  background-size: 14px 14px !important;
  margin-right: 5px;
}

dl.stats dd.published::before,
dl.stats dd.status::before {
  width: 0px;
  margin-right: 0px;
}
/*
---
skin colours.
---
*/
body,
th,
tr:hover,
col.name,
form blockquote.userstuff,
input:focus,
select:focus,
select,
textarea:focus,
.autocomplete div.dropdown ul,
#ui-datepicker-div,
#ibox_wrapper,
#ibox_content,
.toggled form,
.dynamic form,
.secondary,
.listbox .index,
.dashboard .listbox .index,
.nomination dt {
  background: #f7f7f7;
}

.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash {
  color: #eee;
  background-color: #ce4c4c;
  margin-top: 10px !important;
}

.home .header h2 {
  border-bottom: 0px;
}

.subscription dd {
  background-color: transparent !important;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite a:hover {
  color: #eee;
  background-color: #393e46;
}

#dashboard .actions a,
#dashboard .actions a:visited {
  color: #393E46 !important;
}

.blurb ul.required-tags {
  background: #eeeeee !important;
}

.filters dl {
  background: #eeeeee;
}

#dashboard .actions .current {
  color: #f7f7f7;
  background: #393e46;
}

#dashboard.own {
  border: none;
}

.announcement .userstuff h2 {
  margin-top: 10px;
  color: #f7f7f7;
}

fieldset fieldset,
fieldset dl dl,
.fieldset,
fieldset {
  background: #f7f7f7;
}

#header .user a,
#header .user a:visited {
  margin: 2px;
  color: #393E46 !important;
}

.picture .header {
  border: none;
}

li.comment,
.thread .even {
  border-radius: 0.75em;
}

.bookmark div.user {
  border-radius: 0.5em;
}

.blurb .header .heading {
  background: transparent !important;
}

.blurb .stats {
  color: #000000;
}

.module .heading h4,
.module .heading h5,
h5.module .fandoms .heading,
.blurb dl.stats,
.blurb dl.stats dd,
.meta .stats,
.meta .stats dl dt,
.meta .stats dl dd,
.blurb dl.stats dt,
.dashboard .own .work {
  background: transparent !important;
}

h5.heading,
.user .datetime,
.bookmark .user .userstuff,
.bookmark .user .meta {
  margin: 10px;
}

.reading h4.viewed {
  background: #eeeeee;
  border: 1px solid #393E46;
  padding: 0.50em;
  border-radius: .25em;
}

.posted {
  font-size: 0.8em;
}

#header .dropdown .menu .current {
  background-color: #393E46;
  color: #eee;
}

#header .menu,
#header .menu li a:link,
#header .menu li a:visited {
  border-radius: 0.75em;
  background: #eeeeee !important;
  color: #393E46 !important;
  border: none;
}

#header .menu li a:hover,
#header .dropdown:hover a {
  color: #393E46 !important;
  background: #f7f7f7 !important;
}

li.blurb {
  border-radius: 0.75em;
  background: #eeeeee;
  border: none;
}

.filters .submit input {
  height: 100%;
  margin: 1em 0;
  min-height: 1.286em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  color: #f7f7f7;
  background: #393E46;
}

#header #search > * {
  width: 70%;
  white-space: nowrap;
  margin-right: 60px;
}

form.verbose legend,
.verbose form legend {
  height: auto;
  width: auto;
  font-size: 100%;
  background: #929aab;
  color: #f7f7f7;
  border: none;
  padding: .5em;
  box-shadow: none;
  opacity: 1;
  margin: 10px;
  border-radius: .5em;
}
/*
don't change the font here. Ao3 doesn't like it.
*/
.actions input[type="text"],
.textarea,
.autocomplete input,
form.search input[type="text"],
form.search input[type="text"],
li.search fieldset,
.search input[type="text"] {
  color: #393E46;
  background: #f7f7f7;
  border: 1px solid #393E46;
  border-radius: .25em;
  box-shadow: none;
  font: 90% Avenir, Helvetica, Arial, sans-serif;
  padding: 5px;
  width: 90%;
}

.input,
.highlighted {
  border: none;
}

.filters input:checked + .indicator + span {
  font-weight: inherit;
}
#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu,
#small_login,
#header .dropdown:hover .current+.menu,
.actions a,
.actions a:link,
.actions a:active,
.actions a:visited,
.current span,
.current,
a.current,
.actions .current,
.current,
.current a:visited,
.current a:link,
#dashboard .current,
.actions a:active,
span.unread,
.replied,
span.claimed,
.own,
.unread,
.child,
.unwrangled {
  color: #f7f7f7;
  background: #393E46;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: .25em;
  box-shadow: none;
}
.unreviewed {
color: #393e46;
}

dl.index dd {
  color: #393e46;
}

.draft,
.draft .wrapper {
  color: #393E46;
}

#header h2,
#footer ul,
#footer ul.navigation a,
.autocomplete .dropdown ul li:hover,
li.selected,
a.tag:hover {
  color: #eee;
}

tbody tr,
thead td,
#header #small_login,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form dt,
.actions a:active,
.current,
a.current,
.current a:visited,
.search span.tip,
#header ul.primary .current {
  border-color: #f7f7f7;
}

.heading a,
.userstuff,
.heading,
#heading h3,
.splash .module h3 {
  color: #393E46;
}

.listbox>.heading {
  color: #393E46;
  padding: 10px;
  padding-left: 15px;
}

.listbox .index,
.dashboard .listbox .index,
.splash .news li,
form dt,
.picture .header {
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

a.tag {
  border-bottom: none;
}

.actions a,
.actions a:link,
.actions a:visited,
.current,
a.current,
.current a:visited,
.current a:link {
  color: #f7f7f7;
  background: #393E46;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: .25em;
  box-shadow: none;
}

.listbox {
  border: none;
  border-radius: 0.5em;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
#outer .current,
#header .current,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover,
#header .primary .menu .current {
  border-color: initial;
  box-shadow: none !important;
}

.action.top,
.action a:link {
  background: #393E46;
  color: #f7f7f7;
  height: auto;
  font-weight: bolder;
  padding: .15em .25em;
}

.splash .module h3 {
  border-bottom: none;
  font-size: 1.914em;
}
.actions a,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label {
  -webkit-appearance: none;
}

li.relationships,
li.relationships a,
.thread .even,
.preface h3 {
  background-color: transparent;
}

a:hover,
.splash .browse a:hover {
  color: #929AAB;
}

#login-block,
li.blurb,
fieldset,
form dl,
#dashboard ul.navigation,
#dashboard ul,
#symbols-key dl,
.toggled form,
.dynamic form,
div.comment,
li.comment,
.comment div.icon,
.autocomplete div.dropdown ul,
#modal,
.bookmark p.count span,
.ui-sortable li:hover,
.actions a:hover,
.actions input:hover,
.userstuff blockquote {
  border-color: #eeeeee;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff {
  box-shadow: none;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu,
#small_login,
#header .dropdown:hover .current+.menu,
#dashboard .current,
.actions a:active,
.current,
a.current,
.current a:visited,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed {
  background: #eeeeee;
}

.actions a,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
a.cloud4,
a.cloud5 {
  color: #393E46;
}

a:visited,
a.cloud6 {
  color: #393E46;
}

thead,
tfoot,
tfoot td,
th,
tr:hover,
col.name,
input,
textarea,
#modal .content,
.actions a,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
span.claimed,
.system .latest h3,
.system div.news h3,
.listbox,
fieldset fieldset.listbox,
dl.meta,
.picture .header,
.bookmark .user {
  border-color: #393E46;
  background: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 10px;
}
/* remove the margin button from span.unread and replied so they sit correctly with other inbox buttons*/
span.unread,
.replied {
  border-color: #393E46;
  background: #f7f7f7;
  border-radius: 5px;
}

li.blurb,
.blurb .blurb,
.listbox .index,
.dashboard .listbox .index {
  box-shadow: none;
}

#header ul.primary {
  box-shadow: none;
  padding: 1em;
}

#workskin img {
  max-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.autocomplete div.dropdown ul {
  border: 1px solid #393E46;
  border-radius: 0.5em;
}

table,
thead td,
#header #small_login,
#dashboard a:hover,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.ui-sortable li:hover,
.listbox,
fieldset fieldset.listbox,
.readings-index h3,
.search span.tip,
.flash,
.notice,
.error,
.comment_error {
  background: #eeeeee;
}

.comment h4.byline {
  background: transparent;
}

body,
#main.error,
#main.slow,
#main.maintenance,
.required .autocomplete,
.autocomplete .notice,
.post .required .warnings,
.listbox .heading,
.listbox .heading a:visited,
.userstuff h2,
.userstuff caption,
.userstuff table,
.userstuff td,
.userstuff col,
.userstuff tr,
.userstuff thead,
.userstuff tfoot,
.userstuff tbody,
.userstuff th,
.userstuff thead td,
.userstuff th a,
.userstuff th a:link,
a.cloud3,
#header .search input[type="text"] {
  color: #393E46;
}

.draft {
  border-color: #393E46;
}

.actions a,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
span.unread,
.replied,
span.claimed {
  border-bottom-color: #393E46;
}

.ui-sortable li:hover,
.secondary,
.wrapper,
.ui-draggable form {
  box-shadow: none;
}

#header #small_login {
  box-shadow: none;
}

.delete a,
span.delete {
  box-shadow: none;
}

a,
a:link,
#dashboard a,
#dashboard span,
.autocomplete div.dropdown ul,
.actions a:active,
.current,
a.current,
.current a:visited,
a.tag,
.tags a,
a.cloud1,
a.cloud2 {
  color: #000e16;
}

.userstuff h3,
#header .primary a,
#header .primary .current,
#header .primary input,
#header .search input {
  border-color: #00273d;
}

.userstuff h3 {
  border-bottom: 0px;
}

.actions a:active,
.current,
a.current,
.current a:visited {
  box-shadow: none;
}

#header ul.primary,
#footer,
.autocomplete .dropdown ul li:hover,
li.selected,
a.tag:hover {
  background: #393E46;
}

#header #greeting img,
#header .heading a,
#header fieldset,
#header form,
#header p,
#header .user a:hover,
#header .user a:focus,
#header .user .current,
#dashboard a:hover,
.actions a:hover,
.delete a,
span.delete,
span.unread,
.replied,
span.claimed,
.draggable,
.droppable,
span.requested,
a.work,
.blurb h4 a:link,
.blurb h4 img,
.system .latest h3,
.system div.news h3,
.system .tweets h3,
.required,
.error,
a.cloud7,
a.cloud8 {
  color: #393E46;
}
/*corrects button colour*/

div#user-works.work.listbox.group ul.index.group ul.actions li a:hover,
div#user-series.series.listbox.group ol.index.group p.actions a:hover,
div#user-bookmarks.bookmark.listbox.group ol.index.group div.own.user.module.group ul.actions li a:hover,
div#main.bookmarks-index.dashboard.filtered.region ol.bookmark.index.group div.own.user.module.group ul.actions li a:hover,
div#main.series-index.dashboard.region ul.series.index.group p.actions a:hover,
div#main.works-index.dashboard.filtered.region ol.work.index.group ul.actions li a:hover,
div#main.preferences-index.dashboard.region fieldset dl dd span.actions a:hover{
  background-color: #eee;
}
.actions input:hover,
div.skins.home ul.actions li a:hover,
ol.pagination.actions li a:hover,
ul.user.navigation.actions li a:hover,
fieldset.actions ul li a.check_all:hover,
fieldset.actions ul li a.check_none:hover,
.comment.group ul.actions li a:hover,
ul.rtf-html-switch.actions li a.rtf-link:hover,
p.actions a#expand-fandoms:hover,
ul.actions li a:hover,
dl dd.skin p.actions a:hover,
fieldset p.submit.actions a:hover,
p.actions a:hover {
  color: #393E46;
  background-color: #fff;

}
/* overrides hover to keep current pagination red*/
ol.pagination.actions li span.current:hover {
  background-color: #ea6b6f;
  color: #f7f7f7;
}
/* stops button text being black*/
ul div.skins.home ul.actions li a,
ul.actions li a {
  color: #f7f7f7;
}
/* stops a button being white I guess?*/
fieldset p.submit.actions a#comment_cancel {
  background-color: #393e46;
}
#outer #header #greeting .icon,
#dashboard.own,
.error,
.comment_error,
#header ul.primary,
.LV_invalid,
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
#header .primary a,
#header .primary .current,
#header .primary input,
#header .search input {
  border-color: #393E46;
}

#dashboard a,
.unread,
#dashboard span,
#dashboard.own,
fieldset dl,
fieldset.actions,
fieldset dl fieldset dl,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.dashboard .own,
.mods li,
dl.stats dt,
.blurb .header .heading,
.blurb .header ul,
.blurb .header p.status,
fieldset.comments,
.userstuff table,
.userstuff td,
.userstuff col,
.userstuff tr,
.userstuff thead,
.userstuff tfoot,
.userstuff tbody,
.userstuff th,
.userstuff thead td,
.userstuff th a,
.userstuff th a:link {
  background: #f7f7f7;
}

#footer ul.navigation a {
  color: #f7f7f7;
}

#footer a:hover,
fieldset dl,
fieldset.actions,
fieldset dl fieldset dl,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.actions a,
.action,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
#outer.wrapper,
#inner.wrapper,
dl.index,
dl.stats,
.listbox,
fieldset fieldset.listbox,
.listbox li.blurb,
fieldset.comments,
dl.nomination {
  box-shadow: none;
}

h2,
.system p#signup,
#header h2 {
  text-shadow: none;
}

.dashboard .listbox {
  border: 1px solid #929AAB;
}

/*
makes date time black so it isn't white. put in colour section,
*/
.blurb .datetime {
  color: #393E46;
}
/*
----
icon styling.
----
makes icons rounded.
*/

#greeting img.icon {
  border-radius: .75em;
  height: 2.5em;
  width: 2.5em;
}

.primary .icon,
.icon {
  border-radius: .75em;
  height: 7em;
  width: 7em;
}

.picture .icon img {
  border-radius: .75em;
  height: 7em;
  width: 7em;
  margin: -8px;
}

img.icon {
  padding: 1px;
}

.comment div.icon {
  border-bottom: 0px;
}

.comment .icon .visitor {
  background: url(/images/imageset.png) no-repeat -1px -76px;
  padding: 0px;
  margin: 5px;
}

.skins .primary .icon,
.admin .primary .icon {
  padding: 0px;
  margin: 10px;
  border-radius: .75em;
}

.bookmark .count a {
  color: #393E46;
}
/*
----
does something else.
----
*/
span.symbol {
  color: #393E46;
  background: #f7f7f7;
  border: 1px solid;
  vertical-align: super;
  border-radius: .75em;
  box-shadow: none;
}

.notice {
  border: 1px solid #393E46;
  color: #393E46;
  background: #f7f7f7;
  box-shadow: none;
  padding: 1em;
}

#modal-bg {
  background: #393E46;
}

.splash .browse li a:before {
  color: #393E46;
  content: "\272D";
  padding: 0 .25em 0 0;
}
/*
----
buttons!
----
*/
/*fixes comment button alignment*/
p.submit.actions input {
  vertical-align: top;
}

.btn,
input[type=submit],
.actions li a,
.actions li input,
.actions li input[type="submit"],
.actions li label {
  color: #f7f7f7;
  background: #393E46;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: .25em;
  box-shadow: none;

}
/*
check what this does and that it doesn't need clean up.
*/
.tags input[type='radio'],
.filters [type="radio"] + .indicator::before,
.filters [type="radio"] + .indicator::before {
  color: #393E46;
  background: #f7f7f7;
  border: 1px solid #393E46;
  border-radius: 1em;
  box-shadow: none;
}

#header .primary>li:first-of-type {
  margin-left: 2em;
}
/*
more colour stuff. clean up.
*/
#dashboard a,
.unread,
#dashboard span,
#dashboard.own,
fieldset dl,
fieldset.actions,
fieldset dl fieldset dl,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.dashboard .own,
.mods li,
dl.stats dt,
.blurb .header .heading,
.blurb .header ul,
.blurb .header p.status,
fieldset.comments,
.userstuff table,
.userstuff td,
.userstuff col,
.userstuff tr,
.userstuff thead,
.userstuff tfoot,
.userstuff tbody,
.userstuff th,
.userstuff thead td,
.userstuff th a,
.userstuff th a:link {
  background: #ffffff;
}

.assignment dl.stats,
.assignment dl.stats dt,
.assignment dl.stats dd,
dl.stats,
dl.stats dt {
  background: transparent;
  color: #000000;
}

.assignment .index dt {
  margin-bottom: 5px;
}

.blurb dl.stats {
  margin-bottom: 5px;
}

#dashboard {
  border-bottom: 0px solid #f7f7f7;
  border-top: 0px solid #f7f7f7;
  padding: .5em 0;
  border-radius: .25em;
}

.userstuff p {
  color: #000000;
  outline: none;
}

.user .datetime {
  color: #000000;
}

.preface blockquote {
  border: 0;
}

p.kudos {
  background: none;
  padding: .5em;
}

ul.series,
ul.series li {
  color: #000000;
}

.own .header,
.inbox .actions,
.inbox .comments,
.pseud .header,
.collection .header {
  background-color: transparent;
}

.own .type {
  color: #000000;
}

.faq .example,
.guideline .example {
  border: 0px;
  background-color: #ffffff;
  border-radius: 5px;
  
}
/*
announcement styling? move elsewhere or make its own section.
*/
.announcement .userstuff {
  background: #ce4c4c;
  border-color: #ce4c4c;
  color: #ffffff;
}

.announcement .userstuff p {
  color: #ffffff;
}

.announcement input[type="submit"],
.announcement .action {
  background: #fff none;
  border: 1px solid #ce4c4c;
  color: #000000;
  padding: .25em .5em;
  border-radius: 2em;
}
/*
more buttons. Make neat button section.
*/
input[name="preview_button"] {
  color: #f7f7f7;
  background: #ea6b6f !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: .25em;
  box-shadow: none;
}

input[name="post_button"] {
  color: #f7f7f7;
  background: #ea6b6f !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: .25em;
  box-shadow: none;
}

input[name="preview_button"]:hover {
  color: #f7f7f7 !important;
  background: #ea7b6f !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: .25em;
  box-shadow: none;
}

input[name="post_button"]:hover {
  color: #f7f7f7 !important;
  background: #ea7b6f !important;
  border: none;
  border-bottom: none;
  background-image: none;
  border-radius: .25em;
  box-shadow: none;
}

/*
----
makes visted fic titles red.
----
*/
.blurb h4.heading a:link:visited,
.blurb h4.heading a:visited {
  color: #ea6b6f !important;
}
/*
----
active pagenation styling
----
makes current pagnation red. put in colour section.
*/
.pagination .current {
  background-color: #ea6b6f;
}
/*
okay this should go somewhere else to be neat.
*/
.blurb blockquote {
  clear: none;
  margin: .643em auto;
  text-align: left;
  padding: 10px;
}
/*
----
list styling
----
makes bullet points stars.
*/
div.userstuff ul li {
  list-style-type: none;
}

div.userstuff ul li::before {
  content: "★";
  padding-right: 8px;
}
/*
---- 
star text dividers.
----
put somewhere else.
*/
.userstuff hr {
  border: none;
  border-bottom: none;
  text-align: center;
}

.userstuff hr::before {
  content: "—☆★☆—";
}
/*
quick and likely messy fix to scroll box in inbox on desktop due to line height.
*/
form.inbox {
  overflow-x: visible;
}

