/*
ABOUT
This site skin uses code based off ElectricAlice's mobile fix for their Tide skin. 
This will work regardless of if you are using the light or dark version of Stardust.
Note that these code comments will vanish when you click 'submit' to make the site skin, so make sure you can refrence this webpage if needed.
*/

/*
IMPORTANT
This skin is a work in progress. I am working on streamlining and improving it. 
*/

/*
TO USE
(this will be on my Ao3 post but just incase.)
1. Copy all of this into the Ao3 CSS box for your new skin. Call it something like 'Stardust mobile fix' for convenience sake. 

2. Go to the 'advanced' tab and then go to media. Select 'only screen and (max-width: 42em)'.

3. Go to parent skins. Type in the name of the main and ipad skins add them as parent skins for this skin.

3. Now you can click use!
*/

/*
STARDUST mobile fix.
*/

#workskin,
.userstuff {
  font-size: 110%;
}

h4 {
  font-size: 1.2em;
}

div#inner,
#workskin,
.collection blockquote.userstuff,
.blurb .userstuff,
.news .userstuff,
.system .userstuff {
  max-width: 100% !important;
}

#footer .module {
  max-width: 40%;
  margin: auto;
}

#footer .heading {
  overflow-wrap: break-word;
}

.filters dt,
.javascript {
  background-color: transparent;
}

#ui-datepicker-div {
  top: 522px !important;
}

#header {
  font-size: 110%;
}

#header .search {
  display: block;
}

#header .heading,
#login,
#greeting,
#header .primary {
  display: block;
  margin: auto;
  max-width: 100%;
  text-align: center;
  float: none;
}

#login,
#greeting {
  padding: 0;
}

#header .dropdown .menu a,
#header .dropdown .menu .current {
  white-space: nowrap;
}

#header .user {
  float: right;
  text-align: center;
}

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu {
  width: auto;
}

.primary li:nth-of-type(4) .menu {
  margin-left: -110px;
}

.home .header .userstuff,
.home .header dl.stats,
.home .header .type {
  margin-left: auto;
}

.home .header h2 {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
  word-break: break-word;
}

.home .header ul.actions,
ul.actions,
p.actions,
li.actions,
span.actions,
fieldset.actions,
dd.actions {
  float: none;
}

.news h4.landmark {
  display: none;
}

.user h2.heading,
.admin h2.heading,
.collection h2.heading {
  margin: 10px auto;
  text-align: center;
}

div.preface {
  margin: 1.5em;
}

#dashboard,
#dashboard.own {
  border-bottom: 0px;
  border-top: 0px;
  border: 0px;
}

.blurb .header .heading {
  margin: 0.375em 0.375em;
  overflow-wrap: break-word;
}

.blurb .datetime {
  position: initial;
  text-align: center;
  margin-top: 5px;
}

a.tag {
  word-break: break-word;
}

.blurb h4.heading a {
  word-break: break-word;
}

.blurb h4.heading,
.blurb .header .heading {
  margin: 0;
}

.blurb ul.required-tags {
  position: initial;
  top: initial;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: auto;
}

.blurb ul.required-tags li + li + li,
.blurb ul.required-tags li + li + li + li {
  position: initial;
  left: initial;
}

.blurb ul.required-tags li {
  display: inline-flex;
}

.bookmark p.status {
  position: relative;
  right: initial;
  z-index: initial;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.bookmark .status span,
.bookmark .status a {
  display: inline-block;
}

.bookmark span.count {
  line-height: initial;
  position: initial;
  top: initial;
  left: initial;
  text-align: center;
}

.bookmark .status a:focus {
  overflow: initial;
}

.bookmark .status .count {
  background: none;
}

.blurb .header h5.fandoms {
  margin: 0px;
}

.blurb .header p.notice,
.blurb ul.series {
  margin: 10px 0;
}

.blurb .tags li {
  padding-left: 0;
  padding-right: 0;
}

.assigned.module th[scope=col],
thead th[scope=col] {
  max-width: 18px;
  overflow: hidden;
}

#wrangulator table {
  font-size: 80%;
}

#wrangulator ul.actions li a,
#wrangulator ul.actions li label {
  font-size: 70% !important;
}

tr,
th,
td,
thead,
tfoot {
  vertical-align: top;
}

#wrangulator tbody tr th {
  word-break: break-word;
}

#wrangulator tbody a.tag {
  margin: initial;
  padding: initial;
  background: initial !important;
}

.faq .userstuff .notice,
.faq .userstuff .caution,
.faq .example,
.guideline .userstuff .notice,
.guideline .userstuff .caution,
.guideline .example {
  margin: 0;
}

li.showme a.actions,
dl.stats dd,
.actions a,
.actions a:link,
.actions a:visited,
.action,
.action:link,
.action:visited {
  white-space: normal;
  height: initial;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

p.kudos {
  background: none;
  padding: 0;
  min-height: 0;
  word-break: break-word;
}

p.kudos::before {
  content: "Kudos:";
}

div.preface,
.preface.group blockquote.userstuff {
  margin: 0;
}

.chapter .secondary,
.download .secondary {
  top: initial;
  right: 0;
  margin: 10px;
}

.skins .header .heading,
.user.pseud.picture.blurb .header .heading {
  margin: 0.375em 0.375em;
}

.userstuff dd {
  margin-inline-start: 1em;
}

.blurb dl.tags dd,
dl.meta dd {
  margin-left: 0;
}

.meta dd {
  margin: 0.643em 0;
}

.user .primary p.icon,
.admin .primary .icon,
.collection .icon {
  position: initial;
  margin: 10px auto;
}

.primary .icon {
  position: relative;
}

input#site_search {
  width: auto;
}

.comment blockquote.userstuff p {
  width: 95%;
  margin-left: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-block: 0;
}

.comment .icon .visitor {
  background: url(/images/imageset.png) no-repeat 0 -525px transparent;
}

.comment h4.byline {
  overflow-wrap: break-word;
}

#header ul.primary {
  float: right;
}

 li.blurb .fandoms{
  padding-top: 10px;
}

input[type="submit"],
#outer .current {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

li.characters {
  padding: 10px;
}
/*
font sizing.
*/

div.userstuff.module p,
div.summary.module blockquote.userstuff p,
div.notes.module blockquote.userstuff p {
  font-size: 0.9em;
}

li.post.group blockquote.userstuff p {
  font-size: 1.05em;
}

ol.comment.index.group blockquote.userstuff p {
  font-size: 1.2em;
}

blockquote.userstuff.summary p {
  font-size: 1em;
}
/* makes header buttons not a mess*/
#header .primary a {
  padding: 1em 0.5em;
}
/*adds padding to sumbmit button in mobile inbox and fixes small active pagination button.*/
.actions li label,
li span.current{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
/*adds some margin styling to comment icons*/
.comment div.icon {
  margin-left: 0.5em;
}
/*makes span.unread button the same width as other inbox buttons*/
span.unread {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
/*longer tag space before scrolling*/
li.blurb .tags {
  max-height: 9.5em;
  overflow-y: auto;
}

li.blurb .fandoms {
  max-height: 3.75em;
  overflow-y: auto;

}
/*makes comments and inbox style nicely*/
ol.comment.index.group blockquote.userstuff p,
ol.thread blockquote.userstuff p {
  margin-left: 1em;
  padding-top: 2em;
  width: 90%;
  max-width: 45em;

}

h4.heading.byline {
  padding: .25em .25em .25em 4em;
}

.comment div.icon {
  margin-left: 0.5em;
}

span.posted.datetime {
  float: left;
}

ol.pagination {
  max-width: 80%;
}
